*{
margin:0%;
padding:0%;
}


html,body{
height:100%;
width:100%;
background-color: #548687;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
cursor: pointer;

}

h1{
    font-family: cursive,'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 2px 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b8413e;
    background-color: #ffffc7
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 5px 2px 20px grey;
}

#reset-btn:hover{
    background-color: grey;
}


#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 5px 2px 20px grey;
}

#new-btn:hover{
    background-color: grey;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}

.msgcontainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

#name{
    color: #c7e6ff;
    font-size: 3vmin;
}
